<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>

<!-- [(opened)]="opened" -->
<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" (opened)="log('Opened')" (closed)="log('Closed')"> SideNav </mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened">Toggled Open</button>
    <button (click)="sidenav.open()">open</button>
    <button (click)="sidenav.close()">close</button>
    <button (click)="sidenav.toggle()">toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<!-- mode = over | push | side -->